<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  </head>

  <body>
  <div id="NativeUI">
    <div data-widgetType="Screen" id="mainScreen">

      <div data-widgetType="VerticalLayout">

        <!-- Button widget -->
        <div data-widgetType="Button" text="Time" id="btnTime"></div>

        <!-- Button widget -->
        <div data-widgetType="Button" text="Phone Name" id="btnName"></div>

      </div> <!--vertical layout-->
    </div> <!--screen widget-->
  </div> <!--nativeui-->
</body>
</html>