<div id="authentication">
  <% if(everyauth.loggedIn) {%>
    <a style="margin-top:25px;" class="btn" href="/logout"><i class="icon-user icon-github-alt"></i> Log out</a>
    <!-- <a href="/logout">Log out</a> -->
  <%} else {%>
    <a style="margin-top:25px;" class="btn" href="/auth/github"><i class="icon-user icon-github-alt"></i> Sign in</a>
    <!-- <a href="/auth/github">Sign in with GitHub</a> -->
  <%}%>
</div>
