<div class='headerLeftElement' style='width:104px;'>
  <div style='position:absolute;bottom:0;' id='templateToggleButton' class='btn-group'>
    <a class='btn dropdown-toggle' data-toggle='dropdown' id='templateToggleTitle'>Templates <span class='caret' style='margin-top: 8px;'></span>
    </a>
    <ul class='dropdown-menu' id='templateList'>
      <li><a href='started'>Getting Started</a></li>
      <li><a href='native'>Native</a></li>
      <li><a href='web'>Web</a></li>
    </ul>
  </div>
</div>

<div class='headerLeftElement' style='width:52px;'>
  <button style='position:absolute;bottom:0;' id='executecode' class='btn btn-success' type='button'>Run</button>
</div>

<div class='headerLeftElement' style='width:63px;'>
  <button id='reset' class='btn btn-primary' style='margin-top:20px;'>Reset</button>
</div>

<div class='headerLeftElement'>
  <label style='position:absolute;bottom:0;color:white;'><input id='autoload' style='vertical-align:top;' type='checkbox' name='checkbox' value='value' /> Live!</label>
</div>

<div id='loadIndicator'></div>