<% if(everyauth.loggedIn) {%>

  <!-- Html Files List -->
  <div style="float:right;margin-top:20px;">
    <div class="btn-group">
      <a class="btn  dropdown-toggle disabled" data-toggle="dropdown" href="#" id ="htmlToggleButton">Choose an html file! <span class="caret" style="margin-top: 8px;"></span></a>
      <ul class="dropdown-menu" id="htmlList"></ul>
    </div>
  </div>

<% } %>