<% if(everyauth.loggedIn) {%>

  <!-- Html Files List -->
  <div style='float:right;margin-top:20px;'>
    <div class='btn-group'>
      <a class='btn dropdown-toggle disabled' data-toggle='dropdown' href='choose' id ='htmlToggleButton'>Choose a file (html)! <span class='caret' style='margin-top: 8px;'></span></a>
      <ul class='dropdown-menu' id='htmlList'>
        <li><a id='newHtmlFile' href='asd'>New HTML File...</a></li>
      </ul>
    </div>
  </div>

<% } %>