<% if(everyauth.loggedIn) {%>
    <!-- Javascript Files List -->
    <div style="margin-top:20px;">
      <div class="btn-group">
        <a class="btn  dropdown-toggle disabled" data-toggle="dropdown" href="#" id ="jsToggleButton">Choose a javascript file! <span class="caret" style="margin-top: 8px;"></span></a>
        <ul class="dropdown-menu" id="jsList"></ul>
      </div>
    </div>
<% } %>