<!doctype html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/wormhole.js"></script>
    <script src='/js/mobilejs.js'></script>
</head>
<body>ok</body>
</html>