<!doctype html>
<html>
<head>
  <script type='text/javascript' src='http://code.jquery.com/jquery-latest.min.js'></script>
  <script type='text/javascript' src='/socket.io/socket.io.js'></script>
  <script type='text/javascript' src='/js/wormhole.js' charset='utf-8'></script>
  <script type='text/javascript' src='/js/mobilejs.js'></script>
  <script type='text/javascript' src='/js/debugjs.js'></script>
</head>
<body>ok</body>
</html>