body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.CodeMirror {}

#header {
  background: #003B80;
  height: 50px;
  padding: 10px;
}

#codeMirrorHtmlContainer {
  width:50%;
  height:500px;
  float:left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#codeMirrorJsContainer {
  width:50%;
  height:500px;
  float:left;
  border-left: 1px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#authentication {
  float: right;
  position:relative;
  height: 50px;
}

.headerLeftElement {
  float:left;
  margin-right:10px;
  position:relative;
  width: 46px;
  height: 50px;
}

#git-user {
  color: white;
}

#loadIndicator {
  float:left;
  position:relative;
  width: 20px;
  height: 100%;
}