<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=320, user-scalable=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Wormhole Template App</title>
  </head>
  <body>
    <div id="screen">
      <div id="heading">Customized Wormhole Technology</div>
      <div id="info">
        <div>Platform: <span id="platform"></span></div>
        <div>Version: <span id="version"></span></div>
        <div>UUID: <span id="uuid"></span></div>
        <div>Name: <span id="name"></span></div>
        <div>Width: <span id="width"></span></div>
        <div>Height: <span id="height"></span></div>
      </div>
      <div onclick='changeColor()'>Change Color</div>
    </div>
  </body>
</html>;